@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.background {
    background: #F6F6F6;
    margin-top: 30px;
}

/* Header*/
header {
    height: 66px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    background: white;
}

header div {
    display: inline-block;
    vertical-align: top;
    margin-right: 140px;
    margin-top: 20px;
    height: 24px;
    margin-left: 15px;
}

header button {
    border: none;
    background: none;
    cursor: pointer;
}

header h1 {
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 23px;
}

.logo-nba {
    margin-top: 17.72px;
    margin-right: 17px;
}

/* Main */

main {
    margin: 27px 16px 0 16px;
    margin-bottom: 9px;
}

main input {
    width: 122px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #1D428A;
    border-radius: 4px;
    background: white;
    color: #BBBBBB;
}

main ul {
    margin-top: 20px;
}

.containers {
    width: 343px;
    height: 116px;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 17px;
    background: white;
    border-radius: 4px;
    height: 50px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.texto-interno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.texto-interno h2 {
    font-weight: 700;
    size: 12px;
    line-height: 18px;
}

.texto-interno p {
    font-weight: 300;
    font-size: 8px;
    line-height: 12px;
}

/* Footer */

footer {
    background: white;
    height: 72px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
}


footer ul li {
    text-transform: uppercase;
    color: #BBBBBB;
    font-size: 8px;
    line-height: 12px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

footer ul li:nth-child(2) {
    color: #C80F2E;
}

footer ul li p {
    margin-top: 4px;
}

footer ul li img {
    height: 23px;
}