@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Poppins:wght@100;300;400&display=swap");

:root {
  --darker-grey: #c4c4c4;
  --dark-grey: #bbbbbb;
  --medium-grey: #f6f6f6;
  --light-grey: #f7f7f7;
  --dark-blue: #1d4289;
  --dark-red: #c80f2e;

  background: #e5e5e5;
  font-family: Poppins, sans-serif;
  font-size: 10px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
}

footer {
  background: white;
}

footer ul {
  display: flex;
  justify-content: space-around;
  padding: 1.6rem 0;
}

footer ul li {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 12px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

footer ul li a {
  text-decoration: none;
  color: var(--dark-grey);
}

footer ul li:first-child a {
  color: var(--dark-red);
}

footer ul li img {
  height: 2.3rem;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-grey);
  }

  body {
    max-width: 375px;
    max-height: 812px;
  }

  .background {
    width: 375px;
  }
}
