@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Poppins:wght@400;500;800&display=swap');
 
body {
    width: 375px;
    height: 812px;
    margin: 0 auto;
}

main {
    background: #F7F7F7;
    width: 375px;
    height: 740px;
    margin: 0 auto;
    font-family: Poppins, sans-serif;
    margin-top: 30px;
}

.conteudo {
    height: 715px;
}

.conteudo:first-child {
    padding-top: 25px;
}

.containers {
    /*background-color: bisque;*/
    width: 343px;
    margin-left: 16px;
}

.texto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 13px;
}

.titulos {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 24px;
}

.link-container {
    height: 12px;
    font-size: 8px;
    line-height: 12px;
    font-weight: 500;
    color: #1D4289;
    margin-top: 2px;
    text-transform: uppercase;
}

.link-container a {
    text-decoration: none;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 17px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.texto-interno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.texto-interno h2 {
    font-weight: 700;
    size: 12px;
    line-height: 18px;
}

.texto-interno p {
    font-weight: 300;
    font-size: 8px;
    line-height: 12px;
}

.selection {
    display: flex;
    justify-content: center;
    margin-top: 13px;
}

.selection li {
    width: 6px;
    height: 6px;
    background: #C4C4C4;
    border-radius: 50%;
    margin-left: 5px;
}

.selection :nth-child(2) {
    background: #1D4289;
}

.containers.times {
    margin-top: 60px;
}

.containers.times .image-container {
    height: 88px;
    padding: 24px 28px;
}

.containers.times .image-container :nth-child(1) {
    width: 30%;
}

.containers.containers.atletas {
    margin-top: 52px;
}

.containers.atletas .image-container {
    padding: 23px 19px;
}

.containers.atletas .image-container ul {
    width: 343px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    background: white;
    height: 72px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
}

footer ul li {
    text-transform: uppercase;
    color: #BBBBBB;
    font-size: 8px;
    line-height: 12px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

footer ul li:first-child {
    color: #C80F2E;
}

footer ul li p {
    margin-top: 4px;
}

footer ul li img {
    height: 23px;
}