@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Poppins:wght@100;300;400&display=swap');

.background {
    width: 375px;
    height: 812px;
    margin: 0 auto;
}